.table1{
	margin:auto;
	width:10px;
	height:auto;
	border-radius:10px 10px 0px 0px;
	background-color:white;
	padding:1% 1% 0% 1%;
	box-shadow: -1px -1px 10px 2px;
	margin-top:15px;	
}
.banner{
	border:none;	
	width:80%;
	height:50%;
	background-size: 100% 100%;
}
.bar{
	border:none;
}

