.table1{
	margin:auto;
	width:85%;
	height:auto;
	border-radius:10px 10px 0px 0px;
	background-color:white;
	padding:1% 1% 0% 1%;
	box-shadow: -1px -1px 10px 2px;
	margin-top:15px;
}
.banner{
	border:none;	
	width:80%;
	height:50%;
	background-image:url("image/home/banner.jpg");
	background-size: 100% 100%;
}
.bar{
	border:none;
}
.imgteacher{
	width:150px;
	height:150px;	
}
.personal{
	border: 1px solid #bbb;
    width: 160px;
    height: 160px;
    padding:4px;
    vertical-align: middle;
	margin:20px 20px 20px 50px;     
}
.data-teacher{
	width:100%;
	vertical-align: top;
}
.format-box{
	text-align:right;
	width:100px;
	color:red;
	line-height:30px;
}
td{
	word-break: break-all;
}
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.table-borderless{
	position: relative;
    padding: 0px; 
}

.modal-header1{
	padding: 15px;
    border-bottom: 0px;
}
.table-condensed>tbody>tr>td{
	border-top: 0px;
}
